.container{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}


.header-top,
footer
{
    background: #f5f5f5;
    
}


.header-top .left-side,
.header-top .right-side
{
    display: flex;
    align-items: center;
    padding: 15px 0;
    
  
}

.header-top  .left-side > li,
.header-top  .right-side > li
{
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

li.begin-group::after{
content: "";
width: 1px;
background-color: #cdcdcd;
display: inline-block;
margin: 0 10px;
height: 16px;
}

.header-top .left-side > li > i{
    margin-right: 10px;
}

.header-top .right-side .social > a{
    margin-right: 35px;
}

.header-top .right-side .begin-group-language .language-selected{
    display: flex;
    align-items: center;
  

}

.iconize::before,
.iconize::after{
    content: "\f078";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-left: 10px;
    font-size: 14px;
}

.header-top .right-side .begin-group-language::after{
    content: "\f078";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-left: 10px;
    font-size: 14px;
}


.header-top .right-side .begin-group-language .language-selected img{
    width: 30px;
    margin-right: 10px;
}
.header-top .right-side .begin-group-language .choose-option{
    display: none;
    position: absolute;
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
    top: 40px;
    padding: 8px 40px;
   
}

.header-top .right-side .begin-group-language {
    position: relative;
    cursor: pointer;
}

.header-top .right-side .begin-group-language:hover > .choose-option{
    display: inline-block;
}

.begin-group-language li{
    padding: 2px 0;
}

.header-top .right-side .begin-group-login::before{
    display: inline-block;
    margin: 0 10px;
    content: "";
    width: 1px;
    background-color: #cdcdcd;
    height: 16px;
    
}

.header-top .right-side .begin-group-login{
    width: 30px;
    margin-right: 10px;
}

.header-top .right-side .begin-group-login i{
    margin-right: 10px;
}


.d-flex{
    display: flex;

}

.justify-content-sb{
justify-content: space-between;
}

.allign-items-center{
    align-items: center;

}

/*Header-Bottom*/

.flex-column{
    flex-direction: column;
}

.navbar a{
    padding: 20px 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-cards a{
    display: inline-block;
    padding: 10px;
    position: relative;
    
}
.logo{
    padding: 15px 0;
}
.navbar li.active a,
.navbar li:hover a {
    padding-top: 15px;
    color: #7fad39;
    transition: 0.5s;
}

.header-cards a span:not(:empty){
    display: inline-flex;
    padding: 1px;
    background-color: #7fad39;
    color: #ffffff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    align-items: center;
    justify-content: center;
    font-size: 8pt;
    right: -1px;
    top: 4px;
    position: absolute;

}
.header-cards a i{
    font-size: 18px;
}
.header-cards{
    padding: 14px;
}

.categories {
    padding: 10px 25px 10px 40px;
    min-width: 262px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    background-color: #7fad39;
}
.categories.select::before,
.categories.select::after{
    display: inline-block;
    position: absolute;
    
}

.categories.select::before{
    content: "\f0c9";
    
    left: 10px;
    margin-right: 13px;
}

.categories.select {
    display: flex;
    align-items: center;
    position: relative;
}
.categories.select::after{
    margin-left: 20px;
    right: 10px;
}

.search input,
.search input:focus-visible
 {
    border: none;
    outline: none;
}
.search{
    border: 1px solid #cdcdcd;
    padding-left: 5px;
    width: 55%;
    position: relative;
}

.end-group::after{
    display: inline-block;
    margin: 0 10px;
    content: "";
    width: 1px;
    background-color: #cdcdcd;
    height: 16px;
    
}

.end-group{
    display: inline-flex;
    align-items: center;
}
.search button{
    border: none;
    outline: none;
    background-color: #7fad39;
    padding: 13px 30px 12px;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    right: 0;
 
}

.contact-info .fa-phone::before{
    content: "\f095";
    position: absolute;
    
}

.contact-info .call-button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    color: #7fad39;
    position: relative;
    border-radius: 100%;
}

.contact-info .call-button i{
    top: 34%;
    right: 61%;
    position: absolute;
}

.contact-info .call-button{
    margin-right: 14px;
    
}
.flex-column{
    flex-direction: column;
}
.search input{
    height: 48px;
    font-size: 16px;
    color: #b2b2bb;
    padding-left: 20px;
    width: 66%;
    

}

.breadcrumb-section .breadcrumb li ::after{
    content: "\f054";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-left: 10px;
    font-size: 14px;
    margin: 10px;
    
}

.breadcrumb-section .breadcrumb  a{
    font-weight: 900;
    color: inherit;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.mt-30{
    margin-top: 30px;
}
.breadcrumb-section{
    background-image: url(../images/breadcrumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    margin-top: 30px;
}

.contact-item i{
    font-size: 36px;
    color: #7fad39;
}

.contact-form button{
    font-size: 18px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    width: 14pc;
    border: none;
}

.justify-content-center{
    justify-content: center;
}


.form-row .col{
    flex: 0 0 50%;
}

.subcribe button{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
   
    border: none;
}

.text-justify{
    text-align: justify;

}

.footer-top .social a{
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    margin-top: 10px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    margin-right: 10px;
}

footer{
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}

.footer-copyright{
    border-top: 1px solid #7fad39;


}


.blog-sidebar-search{
    position: relative;
}

.blog-sidebar-search form input{
    margin-top: 180px;
    width: 25pc;
    height: 46px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    cursor: pointer;
}

.blog-sidebar-search button{
    border: none;
    outline: none;
    border-style: none;
    display: flex;
    padding: 13px 30px 12px;
    margin-right: 20px;
    position: absolute;
    right: -1pc;
    top: 11.5pc;
    background: none;


}

.footer-copyright{
    border-top: 1px solid #ebebeb;
    padding: 16px 0;
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
}

.footer-copyright-text{
    font-size: 14px;
    color: #1c1c1c;
    float: left;
    line-height: 25px;
  
}

.footer-copyright-text a{
    color: blue;
}

img{
    vertical-align: middle;
}

.footer-copyright-payment{
    float: right;
}

.float-right{
    float: right;
}